.dataTables_scrollBody>.data-table>tbody>tr>td, .dataTables_scrollHead .data-table>thead>tr>th {
  vertical-align: middle;
}

.dataTables_scrollHead .data-table>thead>tr>th {
  text-align: center;
}

.dataTables_scrollBody>.data-table>tbody>tr>td.center {
  text-align: center;
}

.dataTables_scrollBody>.data-table>tbody>tr>td.right {
  text-align: right;
}

table.dataTable>tbody>tr.child span.dtr-title {
  width: 200px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
  padding-left: 40px;
}

/* Detail button */

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
  background-color: hsl(208, 18%, 43%);
  height: initial;
  left: 26px;
}

/* Detail button, hover */

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:hover::before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:hover::before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:hover::before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:hover::before {
  background-color: hsl(208, 28%, 63%);
}

div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
  margin-left: 1rem;
}

div.dataTables_wrapper span.select-info {
  border-left: 2px solid hsl(226, 30%, 92%);
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
  background-color: hsla(208, 98%, 43%, 0.25);
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
  color: hsl(225, 49%, 49%);
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
  text-align: left;
}