.dataTables_scrollBody>.data-table>tbody>tr>td {
  vertical-align: middle;
}

.dataTables_scrollBody>.data-table>tbody>tr>td:nth-of-type(2) {
  text-align: center;
}

table.dataTable>tbody>tr.child span.dtr-title {
  width: 200px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
  padding-left: 40px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
  background-color: #4e73df;
  height: initial;
  left: 26px;
}