/* --------------------- Header --------------------- */

#header {
  z-index: unset;
}

#header .logo {
  left: 17px;
  height: 36px;
  position: absolute;
  top: 13px;
  width: 36px;
}

#header .title {
  color: #f5f5ec;
  font-size: 24px;
  left: 64px;
  line-height: 62px;
  position: absolute;
}

/* --------------------- Sidebar --------------------- */

#sidebar>ul>li.active {
  background-color: #139cbe;
}

#sidebar>ul>li a:active, #sidebar>ul>li a:focus, #sidebar>ul>li a:hover, #sidebar>ul>li a:visited {
  text-decoration: none;
}

/* --------------------- Content --------------------- */

#content {
  margin-top: 42px;
}

/* --------------------- DataTables --------------------- */

.dataTables_wrapper * {
  font-size: 11px !important;
}

.dataTables_wrapper .dataTables_length select {
  width: initial;
}

.dataTables_wrapper .dataTables_scroll {
  overflow: auto;
}

/* --------------------- Modal --------------------- */

.modal {
  left: 20px;
  margin-left: initial;
  width: initial;
}

.modal.fade.in {
  left: 20px;
  top: 20px;
}

/* --------------------- TAGS --------------------- */

body {
  font-size: 12px;
}

input[type=text] {
  box-sizing: border-box;
  font-size: 12px;
  height: initial;
}

label {
  font-size: inherit;
  font-weight: bold;
}