:root {
  --sidebar-width: 230px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #acaeaf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f979c;
}

html {
  font-size: 14px;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #a1a5c4;
}

.topbar .dropdown .dropdown-menu.dropdown-menu-right {
  right: -14px;
}

.card .card-header h6 {
  font-size: 1.2rem;
}

footer {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  color: #6b6d7b;
}

footer.sticky-footer {
  padding: 1rem 0;
}

footer.sticky-footer .copyright {
  font-size: 1rem;
}

.sidebar .nav-item .nav-link {
  width: inherit;
}

.sidebar .collapse-inner.sub-wrapper {
  background-color: rgba(255, 255, 255, .25);
}

.sidebar .nav-item .collapse .collapse-inner.sub-wrapper .collapse-item, .sidebar .nav-item .collapsing .collapse-inner.sub-wrapper .collapse-item {
  color: rgba(255, 255, 255, .9);
}

.sidebar .nav-item .collapse .collapse-inner.sub-wrapper .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner.sub-wrapper .collapse-item:hover, .sidebar .nav-item .collapse .collapse-inner.sub-wrapper .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner.sub-wrapper .collapse-item.active {
  background-color: rgba(0, 0, 0, .07);
}

#wrapper #content-wrapper {
  width: calc(100% - var(--sidebar-width));
}

@media (min-width: 768px) {
  .sidebar {
    width: var(--sidebar-width) !important;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 0.9rem;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.85rem;
  }
}