html {
  font-size: 14px;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #a1a5c4;
}

.topbar .dropdown .dropdown-menu.dropdown-menu-right {
  right: -14px;
}

.card .card-header h6 {
  font-size: 1.2rem;
}

footer {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
}

footer.sticky-footer .copyright {
  font-size: 1rem;
}